* {
  margin: 0;
  padding: 0;
}
main {
  color: #333;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 7rem; */
  align-items: center;
  margin: 5rem 0 0 0;
}
.img_setting {
  width: 10rem;
  border: 2px solid rgba(0, 0, 0, 0.488);
  border-radius: 50%;
  padding: 10px;
}
.text-center {
  text-align: center;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.p-1 {
  padding: 1rem;
}
span {
  font-weight: bold;
}
/* ol {
  margin: 1rem;
} */
li {
  margin: 0.5rem;
}
a {
  color: #00f;
}
a:visited {
  color: #005;
}
a:hover {
  text-decoration: none;
  color: red;
}

dt {
  font-weight: bold;
}
dd {
  margin: 0.25rem 0 0.25rem 1.5rem;
}

ul > li {
  list-style-type: square;
  margin-left: 2rem;
  
}
table {
  border-spacing: 0 0;
  border-collapse: collapse;
}
table th,
table td {
  border: 2px solid #c6c6c6;
  padding: 0.25rem 0.5rem;
}

.text_uppercase {
  text-transform: uppercase;
}

h1 {
  font-style: italic;
}
ol>li{
  margin-left: 2rem;
}
.border_buttom{
  border-bottom: 1px solid #005;
}
table{
  background-color: rgba(49, 119, 172, 0.754);
}
.table_special_color{
  background-color: rgba(49, 88, 143, 0.989);
}