* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 7rem; */
  align-items: center;
  margin: 5rem 0 0 0
}
.img_setting{
    width: 10rem;
    border: .25rem solid rgba(0, 0, 0, 0.488);
  border-radius: 50%;

}
.text-center{
    text-align: center;
}
.mt-2{
    margin-top: 2rem;
}
.p-1{
    padding: 1rem;
}
span{
    font-weight:bold;
}
ol{
    margin: 1rem;
}
li{
    margin: .5rem;
}
a{
    text-decoration: none;
}
dl {
    margin: 2rem 0;
}
dt{
    font-weight: bold;
}
dd{
    margin: .25rem 0 .25rem 1.5rem;
}